* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 900px;
  padding-top: 50px;
}

table {
  border: 2px solid black;
}

td {
  border: 2px solid black;
}

.myName {
  width: 150px;
  background-color: cadetblue;
  text-align: center;
}

.tableName {
  width: 900px;
  background-color: cornflowerblue;
  text-align: center;
}

.weekday {
  width: 150px;
  background-color: darkkhaki;
  text-align: center;
}

.number {
  width: 50px;
  background-color: darkolivegreen;
  text-align: center;
}

.time {
  width: 100px;
  background-color: darkseagreen;
  text-align: center;
}

.content {
  width: 150px;
  height: 50px;
  background-color: bisque;
  text-align: center;
}

.contact {
  width: 150px;
  background-color: rgb(139, 130, 90);
  text-align: center;
}

.email {
  background-color: rgb(255, 176, 176);
}

.webpage {
  background-color: rgb(255, 176, 176);
}
